@model EntityLayer.Concrete.Blog
@{
    ViewData["Title"] = "AddBlog";
    Layout = "~/Views/Shared/_AdminView.cshtml";
}

<h2>Yeni Bloq</h2>
@using (Html.BeginForm("AddBlog", "Default", FormMethod.Post))
{
    @Html.Label("Bloq başlığı")
    @Html.TextBoxFor(x=>x.BlogTitle, new{@class="form-control"})
    @Html.ValidationMessageFor(x=>x.BlogTitle)
    <br />
    @Html.Label("Bloq kiçik şəkli")
    @Html.TextBoxFor(x=>x.BlogThumbnail, new{@class="form-control"})
    <br />
    @Html.Label("Bloq fotosu")
    @Html.TextBoxFor(x=>x.BlogImage, new{@class="form-control"})
    @Html.ValidationMessageFor(x=>x.BlogImage)
    <br />
    @Html.Label("Bloq kateqoriyası")
    @Html.TextBoxFor(x=>x.CategoryID, new{@class="form-control"})
    <br />
    @Html.Label("Bloq məzmunu")
    @Html.TextAreaFor(x=>x.BlogContent, 3, 10, new{@class="form-control"})
    @Html.ValidationMessageFor(x=>x.BlogContent)
    <br />
    <button class="btn btn-dark">Təsdiq edin</button>
}
