@model EntityLayer.Concrete.Blog
@{
    ViewData["Title"] = "BlogEdit";
    Layout = "~/Views/Shared/_AdminView.cshtml";
}

<h2>Blog yeniləmə</h2>

@using (Html.BeginForm("BlogEdit","Default", FormMethod.Post))
{
    @Html.HiddenFor(x=>x.BlogID);
    @Html.Label("Bloq başlığı")
    @Html.TextBoxFor(x=>x.BlogTitle, new{@class="form-control"})
    @Html.ValidationMessageFor(x=>x.BlogTitle)
    <br />
    @Html.Label("Bloq kiçik şəkli")
    @Html.TextBoxFor(x=>x.BlogThumbnail, new{@class="form-control"})
    <br />
    @Html.Label("Bloq fotosu")
    @Html.TextBoxFor(x=>x.BlogImage, new{@class="form-control"})
    @Html.ValidationMessageFor(x=>x.BlogImage)
    <br />
    @Html.Label("Bloq tarixi")
    <input type="date" class="form-control" name="BlogCreateDate" />
    <br />
    @Html.Label("Bloq kateqoriyası")
    @Html.DropDownListFor(x=>x.CategoryID,(List<SelectListItem>)ViewBag.cl, new {@class="form-control"})
    <br />
    @Html.Label("Bloq məzmunu")
    @Html.TextAreaFor(x=>x.BlogContent, 3, 10, new{@class="form-control"})
    @Html.ValidationMessageFor(x=>x.BlogContent)
    <br />
    <button class="btn btn-dark">Təsdiq edin</button>
}
